.clients-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.clients {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 2) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 5) / 6);
  }
}

.clients-company-link {
  color: #afb1b8;
  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}
.icon-clients {
  fill: currentColor;
}
.clients-company {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $accent-color;
  }
  &:focus {
    border: 1px solid $accent-color;
  }
}
