.work-principles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  .item {
    width: calc((100% - 30px * 3) / 4);
  }
  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.feautures-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.work-principles {
  margin-top: 30px;
  margin-bottom: 10px;
}

.paragraf-text {
  color: $paragraf-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
