.hero {
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #c4c4c4;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  min-width: 480px;
  height: 400px;

  background-image: url(../images/header-img.JPG);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-title {
  color: $complementary-color;
  padding: 60px;

  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
