.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #c4c4c4;
  letter-spacing: 0.06em;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;

  background-image: url(/images/hero-mobile.JPG);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(/images/hero-table.JPG);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/images/hero.JPG);
  }
}

.hero-title {
  color: $complementary-color;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
