.team {
  background: #f5f4fa;
}

.employee {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.profession {
  color: $paragraf-text-color;
  font-size: 16px;
  line-height: 1.18;
}

.content-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.profession {
  margin-bottom: 16px;
  margin-top: 10px;
  text-align: center;
}

.team-members {
  display: flex;
  margin: 0;
  padding: 0;

  .employee:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;
}
